<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
<appSettings>
  <add key="provider" value="google"/>
  <add key="username" value="username"/>
  <add key="password" value=""/>
  <add key="location" value="Central Park, New York"/>
</appSettings>
</configuration>